.navigationBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(200, 200, 200, 0.3);
}

.navigationBar > li {
  float: left;
}

.navigationBar > .navButton {
  background: rgba(50, 50, 50, 0.3);
  margin: 0px 4px;
}

.navigationBar > li > a {
  display: block;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.navigationBar > .navButton:hover {
  background: rgba(30, 30, 30, 0.7);
}

.navigationBar > li > h1 {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 50px 10px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.barSeperator{
  width: 100%;
  height: 2px;
  background-color: white;
}

.navigationBar > .credButton {
  background: rgba(60, 100, 245, 0.7);
  margin: 4px;
  float: right;
  border-radius: 10px;
  font-size: 24px;
}

.navigationBar > .credButton:hover {
  background: rgba(0, 70, 255,  0.7);
}

body{
  font-family: Lato;
}

.button{
  font-family: Lato;
}
