.navigationBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(169, 169,169, 0.6);
}

.navigationBar > li {
  float: left;
}

.navigationBar > .navButton {
  background: rgba(50, 50, 50, 0.3);
  margin: 0px 4px;
}

.navigationBar > li > a {
  display: block;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.navigationBar > .navButton:hover {
  background: rgba(30, 30, 30, 0.7);
}

.navigationBar > li > h1 {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 50px 10px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.barSeperator{
  width: 100%;
  height: 2px;
  background-color: white;
  float:left;
}

.navigationBar > .credButton {
  background: rgba(60, 100, 245, 0.7);
  margin: 4px;
  float: right;
  border-radius: 10px;
  font-size: 24px;
}

.navigationBar > .credButton:hover {
  background: rgba(0, 70, 255,  0.7);
}

body{
  font-family: Lato;
}

.button{
  font-family: Lato;
}

.navigationBar > .credButton > a {
  font-weight: 900;
  font-size: 20px;
  padding: 10px 10px;
  margin: 3px;
}

.infoMenu {
  height: auto;
  margin: 4px;
  margin-right:40%;
  border-radius: 10px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  background-color: grey;
  opacity:70%;
  padding: 8px;
  float: left;
}

.infoMenu > h2 {
  text-align: center;
}

.leftCol{
  padding-right: 5px;
  font-weight: 800;
  vertical-align: top;
  padding-bottom: 8px;
}

.rightCol{
  font-weight: 200;
}

.mainBody{
  margin: 10px;
  margin-left: 30px;
  max-width: 60vw;
  padding: 15px;
  background-color: rgba(50, 50, 150, 0.5);
  display:inline-block;
  border-radius: 3px;
  color: rgb(250, 250, 180);
}

h2 {
  font-size: 20px;
}
.ui.segment{
  max-width: 100%;

}
